<aside class="side-bar">
    <header>
        <label>{{'sidebar.sidebarHeading' | i18n}}</label>

        <div class="button-container">
            <button data-ng-class="{'active': sidebar.SharedData.gridState === 'list-view'}" data-ng-click="sidebar.switchViewStyle('list');">
                <i class="bhi-view-list"></i>
            </button>
            <button data-ng-class="{'active': sidebar.SharedData.gridState === 'grid-view'}" data-ng-click="sidebar.switchViewStyle('grid');">
                <i class="bhi-view-module"></i>
            </button>
        </div>
    </header>
    <section>
        <div class="keyword-search">
            <label for="keyword"><i class="bhi-search"></i></label>
            <input class="search" type="text" data-ng-change="sidebar.searchOnDelay(value)" data-ng-model="sidebar.SearchService.searchParams.textSearch" id="keyword" name="keyword" data-i18n-attr="{placeholder: 'sidebar.sidebarSearchPlaceholder'}"/>
            <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.textSearch.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('text');" name="clear-all">
                <i class="bhi-times"></i>
            </button>
        </div>

        <!--
        <div class="keyword-search">
            <label for="companyName"><i class="bhi-search"></i></label>
            <input class="search" type="text" data-ng-change="sidebar.searchOnDelay()" data-ng-model="sidebar.SearchService.searchParams.companyNameSearch" id="companyName" name="companyName" placeholder="Company Name Search"/>
            <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.companyNameSearch.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('companyName');" name="clear-all">
                <i class="bhi-times"></i>
            </button>
        </div>
        -->
        <!-- INDUSTRY -->
        <section class="filter-section" data-ng-class="{'active':!sidebar.industryLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.industrySectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.industries.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('industry');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's category list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="industry in filteredIndustries = (sidebar.industries | omitFilters:'industry':sidebar.SearchService.searchParams.industries) | orderBy:['label','-idCount'] | limitTo:sidebar.industryLimitTo track by industry.id">
                <input type="checkbox" id="{{::industry.id}}" data-ng-checked="sidebar.hasFilter('industries', industry)" data-ng-click="sidebar.toggleFilterByType('industries', industry)">
                <label for="{{::industry.id}}">{{::industry.label}}</label>
                <!-- <span>{{industry.idCount}}</span> -->
            </div>

            <span class="show-more" data-ng-if="sidebar.industryLimitTo && filteredIndustries.length > 8" data-ng-click="sidebar.updateIndustryLimitTo(null)">
                {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.industryLimitTo && filteredIndustries.length > 8" data-ng-click="sidebar.updateIndustryLimitTo(8)">
                {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <!-- CATEGORY -->
        <section class="filter-section" data-ng-class="{'active':!sidebar.categoryLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.categorySectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.categories.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('category');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's category list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="category in filteredCategories = (sidebar.categories | omitFilters:'category':sidebar.SearchService.searchParams.categories) | orderBy:['label','-idCount'] | limitTo:sidebar.categoryLimitTo track by category.id">
                <input type="checkbox" id="{{::category.id}}" data-ng-checked="sidebar.hasFilter('categories', category)" data-ng-click="sidebar.toggleFilterByType('categories', category)">
                <label for="{{::category.id}}">{{::category.label}}</label>
                <!-- <span>{{category.idCount}}</span> -->
            </div>

            <span class="show-more" data-ng-if="sidebar.categoryLimitTo && filteredCategories.length > 8" data-ng-click="sidebar.updateCategoryLimitTo(null)">
                {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.categoryLimitTo && filteredCategories.length > 8" data-ng-click="sidebar.updateCategoryLimitTo(8)">
                {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <!-- SPECIALTY -->
        <section class="filter-section" data-ng-class="{'active':!sidebar.specialtyLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.specialtySectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.specialties.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('specialty');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's specialty list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="specialty in filteredSpecialities = (sidebar.specialties | omitFilters:'specialty':sidebar.SearchService.searchParams.specialties) | orderBy:['label','-idCount'] | limitTo:sidebar.specialtyLimitTo track by specialty.id">
                <input type="checkbox" id="{{::specialty.id}}" data-ng-checked="sidebar.hasFilter('specialties', specialty)" data-ng-click="sidebar.toggleFilterByType('specialties', specialty)">
                <label for="{{::specialty.id}}">{{::specialty.label}}</label>
                <!-- <span>{{specialty.idCount}}</span> -->
            </div>

            <span class="show-more" data-ng-if="sidebar.specialtyLimitTo && filteredSpecialities.length > 8" data-ng-click="sidebar.updateSpecialtyLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.specialtyLimitTo && filteredSpecialities.length > 8" data-ng-click="sidebar.updateSpecialtyLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <!-- STATE -->
        <section class="filter-section" data-ng-class="{'active':!sidebar.stateLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.stateSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.states.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('state');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="state in filteredStates = (sidebar.states | omitFilters:'state':sidebar.SearchService.searchParams.states) | orderBy:['label','-idCount'] | limitTo:sidebar.stateLimitTo track by state.id">
                <input type="checkbox" id="{{::state.id}}" data-ng-checked="sidebar.hasFilter('states', state)" data-ng-click="sidebar.toggleFilterByType('states', state)">
                <label for="{{::state.id}}">{{::state.label}}</label>
                <!-- <span>{{state.idCount}}</span> -->
            </div>

            <span class="show-more" data-ng-if="sidebar.stateLimitTo && filteredStates.length > 8" data-ng-click="sidebar.updateStateLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.stateLimitTo && filteredStates.length > 8" data-ng-click="sidebar.updateStateLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>
        <!-- CITY -->
        <section class="filter-section" data-ng-class="{'active':!sidebar.cityLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.citySectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.cities.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('city');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="city in filteredCities = (sidebar.cities | omitFilters:'city':sidebar.SearchService.searchParams.cities) | orderBy:['label','-idCount'] | limitTo:sidebar.cityLimitTo track by city.id">
                <input type="checkbox" id="{{::city.id}}" data-ng-checked="sidebar.hasFilter('cities', city)" data-ng-click="sidebar.toggleFilterByType('cities', city)">
                <label for="{{::city.id}}">{{::city.label}}</label>
                <!-- <span>{{city.idCount}}</span> -->
            </div>

            <span class="show-more" data-ng-if="sidebar.cityLimitTo && filteredCities.length > 8" data-ng-click="sidebar.updateCityLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.cityLimitTo && filteredCities.length > 8" data-ng-click="sidebar.updateCityLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>
        <!-- EMPLOYMENTTYPE -->
        <section class="filter-section" data-ng-class="{'active':!sidebar.employmentTypeLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.employmentTypeSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.employmentTypes.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('employmentType');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="employmentType in filteredEmploymentTypes = (sidebar.employmentTypes | omitFilters:'employmentType':sidebar.SearchService.searchParams.employmentTypes) | orderBy:['label','-idCount'] | limitTo:sidebar.employmentTypeLimitTo track by employmentType.id">
                <input type="checkbox" id="{{::employmentType.id}}" data-ng-checked="sidebar.hasFilter('employmentTypes', employmentType)" data-ng-click="sidebar.toggleFilterByType('employmentTypes', employmentType)">
                <label for="{{::employmentType.id}}">{{::employmentType.label}}</label>
                <!-- <span>{{employmentType.idCount}}</span> -->
            </div>

            <span class="show-more" data-ng-if="sidebar.employmentTypeLimitTo && filteredEmploymentTypes.length > 8" data-ng-click="sidebar.updateEmploymentTypeLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.employmentTypeLimitTo && filteredEmploymentTypes.length > 8" data-ng-click="sidebar.updateEmploymentTypeLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <section class="credits">
            <span class="powered-by">{{'sidebar.poweredByText' | i18n}}</span>
            <a target="_blank" href="http://www.bullhorn.com/">
                <img class="bullhorn" src="assets/images/logo.svg"></img>
            </a>
        </section>

        <button type="button" class="bhi-arrow-left" name="back-arrow" data-ng-click="sidebar.goBack();"></button>
    </section>
</aside>
